
<div class="kitten-block-admin" id="{{kitten.Name}}" ng-init="SetHandlerId(kitten.Name);initializeMainPicture(kitten);">
	<div class="image-container">
		<img class="main-kitten-image" ng-src="{{kitten.MainPicture.Image}}"/>
		<!--TODO: add the possbility load pictures-->
		<!--@using (Html.BeginForm("AddMainFoto", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{-->
		<input style="margin-left: 15px;" main-photo-selector="" data-ng-model="theFile" type="file" name="f" accept="image/jpeg">
		<progress-bar kitten="{{kitten}}"></progress-bar>
	</div>
	<div class="button-container">
		<!--TODO: add the possibility to edit and remove a kitten-->
		<a href="/admin/editKitten/{{kitten.ID}}" class="btn-admin btn-red">Изменить</a>
		<a href="" ng-click="removeKitten(kitten)" class="btn-admin btn-red">Удалить</a>
		<a href="#" class="btn-admin btn-red hid">Сохранить</a>

	</div>
	<div class="setting-container">
		<table>
			<tr style="height: 40px;">
				<td>{{kitten.PlaceOfDisplaying}}</td>
			</tr>
			<tr style="height: 40px">
				<td>Имя на английском</td>
				<td style="padding-left: 10px">{{kitten.Name}}</td>
			</tr>
			<tr style="height: 40px;">
				<td>Имя на русском</td>
				<td style="padding-left: 10px">{{kitten.RussianName}}</td>
			</tr>
		</table>
	</div>
	<div class="bottom-fotos-container">
		<input onclick="" type="button" id="{{kitten.Name}}" name="del-fotos" value="Добавить фотки">
		<!--TODO: Open a kitten for modification his pictures-->
		<input href="/admin/kitten/modify-pictures/{{kitten.ID}}" type="button" name="add-fotos" value="Удалить/Изменить фотки">
		<span style="color: #32cd32;" id="left-files-{{kitten.Name}}"></span>
	</div>
</div>