<div class="datepicker-ang datepicker-dropdown-ang dropdown-menu-ang datepicker-orient-left datepicker-orient-top">
    <table class="table-condensed">
        <thead>
            <tr>
                <th class="prev" ng-click="prev()">&lsaquo;&lsaquo;</th>
                <th class="datepicker-switch" colspan="5" ng-bind="date|datePickerFormat:'YYYY MMMM'"></th>
                <th class="next" ng-click="next()">&rsaquo;&rsaquo;</th>
            </tr>
            <tr>
                <th class="dow" ng-repeat="day in weekdays" style="overflow: hidden" ng-bind="day|datePickerFormat:'ddd'"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="week in weeks" ng-init="$index2 = $index">
                <td ng-repeat="day in week" ng-class="classes[$index2][$index]">
                    <span class="day" style="float: none; width: auto; height: auto; line-height: normal; margin: 0;" ng-click="selectDate(day)" ng-bind="day|datePickerFormat:'DD'"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>