<aside>
    <div class="uui-side-bar blue">
        <ul class="sidebar-menu">
            <li>
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Item 1</span>
                </a>
            </li>
            <li class="sub-menu active">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Item 2</span>
                    <div class="fa fa-caret-right arrow"></div>
                </a>
                <ul class="sub">
                    <li>
                        <a href="#">
                            <p>
                                <span>Sub Item 1</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>
                                <span>Sub Item 2</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>