<!--<div class="uui-datepicker input-daterange">
    <input type="text" class="uui-form-element" dateformat ng-model="slot.StartDate" name="start" style="margin-right: 10px"/>
    <span class="input-group-addon">to</span>
    <input type="text" class="uui-form-element" dateformat ng-model="slot.EndDate" name="end"/>
</div>-->

<div class="uui-datepicker input-daterange">
    <input type="text" class="uui-form-element" 
           ng-attr-booked="{{slot.IsOccupied}}"
           date-picker dateformat
           ng-attr-end="{{slot.EndDate}}" ng-attr-start="{{slot.StartDate}}"
           ng-attr-max="{{maxDate}}" ng-attr-min="{{minDate}}"
           ng-attr-occ-Slots="{{occupiedSlots}}"
           ng-model="slot.StartDate" 
           name="start"/>

    <span class="input-group-addon-ang">to</span>

    <input type="text" class="uui-form-element" 
           ng-attr-booked="{{slot.IsOccupied}}"
           date-picker dateformat
           ng-attr-end="{{slot.EndDate}}" ng-attr-start="{{slot.StartDate}}"
           ng-attr-max="{{maxDate}}" ng-attr-min="{{minDate}}"
           ng-attr-occ-Slots="{{occupiedSlots}}"
           ng-model="slot.EndDate"
           name="end"/>
</div>
