    <!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <script src="/Scripts/vendor/angular.js"></script>
        <script src="/Scripts/app.js"></script>
        <script src="/Scripts/mainCtrl.js"></script>
        <script src="/Scripts/bookingService.js"></script>
    </head>
    <body>

        <div ng-app="app" ng-controller="bookingCtrl" ng-model="bookingModel">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>
                        Time
                    </th>
                </tr>
              
                <tr ng-repeat="s in subjects">
                    <td>{{s.Id}}</td>
                    <td>{{s.Name}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
</body>
</html>
