body {
    background-color: #a9a9a9;
}


.nav-panel {
    margin: auto;
    width: 800px;
    height: 80px;
    color: black;
}

.pink {
    background-color: #C1C1C1;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
    border-style: none;
    color: black;
}

.menu-item {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
    text-shadow: 1px 1px 3px black, 1px 1px 1.5em black;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.menu-item :hover {
    color: #971818;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.image-logo {
    height: 25px;
    cursor: pointer;
}
