body {
    background-image: url('../Resources/mbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.business-header {
    padding-bottom: 14%;
    background: url('../Resources/top-picture.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
    max-height: 70px;
}

.hidden{
opacity:0;
}

.visible{
opacity:1;
}

.post {
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    background-color: blue;
}

.img-circle:hover {
    opacity: .9;
    -webkit-transform: scale(1.11,1.17);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.11,1.17);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.img-circle {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.item-image{
    width: 100%;
    height: 100%;
    margin:20px auto;

      box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;

     opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

.item-image:hover {
    -webkit-transform: scale(1.01,1.01);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.01,1.01);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

.btn-more-fotos {
    width: 100%;
    margin: 50px auto;
}

.image-hid {
    display: none;
}

.Description{
    width:800px;
    position:relative;
    margin:10px auto;
    font-size:18px;
}

#BuyButton{
    margin-top: 366px;
    margin-left: 532px;
    position:relative;
}

.dialog-message img {
    display: block;
    height: 200px;
    width: 300px;
    margin: auto;
}

.page {
    border-radius: 10px;
    background-color: #dff0d8;
    font-size: 16px;
    margin: 20px auto;
    min-height: 500px;
    font-family: Verdana, sans-serif;

    -webkit-box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3);
            box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3);
    
}

.page-contacts {
    background-image: url('../Resources/Contacts.png');
    padding-bottom: 78%;
    background-size: 100%;
    background-repeat: no-repeat;
     min-width: 600px;
    min-height: 465px;
}

.page-name {
    font-size: 24px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 10px;
}

.horizLine
{
    background: linear-gradient(to right, white, rgba(192,192,192, 0.5), white), linear-gradient(to bottom, white, rgba(80,80,80, 0.6), white);
    height:5px;
}

.page-text {
    font-size: 18px;
    margin: 20px;
}

.blue-nav {
    font-size: 18px;
}

.logo {
    background-image: url('../Resources/Logo.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 50px;
    width: 160px;
}

.images-center-container {
    margin: auto;
    padding-left: 10%;
}