
/*.slide-show {
	
	vertical-align: top;
	margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
	padding: 25px;
	
	height: 250px;
	background: #f0e8d8;
	font-size: 1.6em;
	line-height: 5em;
	font-family: Georgia, Times, Serif;
	text-align: center;
	box-shadow: 0 0 65px #971818 inset, 0 0 20px #beae8c inset;
    max-width: 1720px;
}*/
#slide {
    width: auto;
    height: auto;
}

#slide0 {
    background: url(../Views/../Resources/Slides/slide0.jpg) no-repeat center;background-size: 100% 200px;
    left: 60px;
}

#slide1 {
    background: url(../Views/../Resources/Slides/slide1.jpg) no-repeat center;background-size: 100% 200px;
    left: 290px;
}

#slide2 {
    background: url(../Views/../Resources/Slides/slide2.jpg) no-repeat center;background-size: 100% 200px;
    left: 520px;
}

#slide3 {
    background: url(../Views/../Resources/Slides/slide3.jpg) no-repeat center;background-size: 100% 200px;
    left: 750px;
}

#slide4 {
    background: url(../Views/../Resources/Slides/slide4.jpg) no-repeat center;background-size: 100% 200px;
    left: 980px;
}

#slide5 {
    background: url(../Views/../Resources/Slides/slide5.jpg) no-repeat center;background-size: 100% 200px;
    left: 1210px;
}

#slide6 {
    background: url(../Views/../Resources/Slides/slide6.jpg) no-repeat center;background-size: 100% 200px;
    left: 1440px;
}

#slide7 {
    background: url(../Views/../Resources/Slides/slide7.jpg) no-repeat center;background-size: 100% 200px;
    left: 1670px;
}

#slide8 {
    background: url(../Views/../Resources/Slides/slide8.jpg) no-repeat center;background-size: 100% 200px;
    left: 1900px;
}

#slide9 {
    background: url(../Views/../Resources/Slides/slide9.jpg) no-repeat center;background-size: 100% 200px;
}

.slides {
    margin: 0 auto;
    height: 200px;
    display: inline-block;
}

.left-row {
    float: left;
    margin-top: 10px;
    height: 200px;
    width: 30px;
    background-color: #696969;
    opacity: 0.3;
    cursor: pointer;
}

.right-row {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    height: 200px;
    width: 30px;
    background-color: #696969;
    opacity: 0.3;
    cursor: pointer;
}

.right-row:hover {
    opacity: 0.7;
    transition: opacity 0.7s;
}

.left-row:hover {
    opacity: 0.7;
    transition: opacity 0.7s;
}

.right-row img {
    margin-top: 90px;
    margin-left: 7px;

}

.left-row img {
    margin-top: 90px;
    margin-left: 7px;

}

.slide-box {
    display: inline-block;
    text-align: justify;
    width:200px;
    height: 200px;
    background: #008080;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
    position: absolute;
    float: left;

    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
}

.slide-box:before, /*This is for slide show container*/
.slide-box:after {
    content:"";
    position:absolute;
    z-index:-5;
}
 
.slide-box:before { /*This is for slide show container*/
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
         border-radius:10px / 100px;
}

.slide-show {
    min-width: 1243px;
    max-width: 2280px;
    height: 250px;
    position:relative;
    padding:1em;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    -webkit-box-shadow:0 0 65px #696969 inset, 0 0 20px #696969 inset;
       -moz-box-shadow:0 0 65px #696969 inset, 0 0 20px #696969 inset;
            box-shadow: 0 0 65px #696969 inset, 0 0 20px #696969 inset;



    border-radius: 10px;
}
 
.slide-show:before,
.slide-show:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.slide-show:before {
    top:0px;
    bottom:0px;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:100px / 10px;
         border-radius:100px / 10px;
}
 
/*.slide-show:before {
	top: 0px;
	left: 5%;
	width: 90%;
	height: 50px;
	
	border-radius: 125px / 12px;
	box-shadow: 0 0 8px #555;
}

.slide-show:after { 
	bottom: 0px;
	left: 5%;
	width: 90%;
	height: 50px;
	
	border-radius: 125px / 12px;
	box-shadow: 0 0 8px #565656;
}*/