@model List<PrettyCats.Database.Pets>
@{
	Layout = "../Layouts/_AdminPanelLayout.cshtml";
}
<a href="AdminPanel" class="btn-admin btn-red">Назад</a>

<a href="AdminPanel" class="btn-admin btn-red">Добавить</a>

@Html.Partial("KittenOnTheAdminPageHtml")
@Html.Partial("KittenOnTheAdminPageHtml")