@model IEnumerable<PrettyCats.Models.KittenOnTheAdminPageModelView>

@{
	ViewBag.Title = "Все родители";
	Layout = "~/Views/Layouts/_AdminPanelLayout.cshtml";
}

<style>
	#selectedFiles img {
		max-width: 125px;
		max-height: 125px;
		float: left;
		margin-bottom: 10px;
	}
</style>

<script src="~/Scripts/UploadMultyplayFiles.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<a href="AdminPanel" class="btn-admin btn-red">Назад</a>

@Html.ActionLink("Добавить", "AddParentCat", null, new { id = "update-container", @class = "btn-admin btn-red" })


@foreach (var i in Model)
{
	@Html.Partial("~/Views/Admin/PatialViews/_KittenOnTheAdminPageHtml.cshtml", i)
}
