@using System.Web.Optimization
@model string
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		@Styles.Render("~/Content/css")
		<meta name="viewport" content="width=device-width" />
		<title>Вход  в админ панель</title>
	</head>
<body>
	<div class="admin-form">
		@using (Html.BeginForm("LogIn", "Admin"))
		{
			<table>
				<tr>
					<td>Имя пользователя: </td><td>@Html.TextBox("Username")</td>
				</tr>
				<tr><td>Пароль: </td><td>@Html.Password("Password")</td></tr>
				<tr><td><input type="submit" value="Войти"/> </td> <td class="error-msg">@Model</td></tr>
			</table>
		}
	</div>
</body>
</html>
