@model List<PrettyCats.Database.Pictures>

@{
	ViewBag.Title = "KittenPictures";
	Layout = "~/Views/Layouts/_AdminPanelLayout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<script>
	function successRequest(itemId) {
		$('#' + itemId).hide();
	}
</script>

<h2>Фотографии котенка</h2>

<div>
	<hr />
	@foreach (var i in Model)
	{
		@Html.Partial("_KittenPicture", i)
	}

</div>

<div>
	@Html.ActionLink("Вернуться", "AdminChangeKittens", "Admin")
</div>