
<div  class="admin-panel">
	<div class="hot-container">
		<p ng-controller="adminPanelCtrl">
			<a href="#" class="btn-admin btn-blue">Общие настройки сайта</a>
			<a href="{{availableKittensLink}}" class="btn-admin btn-blue">Изменение/Добавление доступных котят</a>
			<a href="{{archiveKittensLink}}" class="btn-admin btn-blue">Изменение/Добавление архивных котят</a>
			<a href="{{parentsLink}}" class="btn-admin btn-blue">Изменение/Добавление родителей</a>
			<a href="#" class="btn-admin btn-blue">Изменение/Добавление статей</a>
			<a href="{{siteIndex}}" class="btn-admin btn-blue"> >> Вернуться на сайт <<</a>
		</p>
	</div>
</div>