<div  class="admin-panel">
	<div class="form-horizontal" ng-controller="kittensCtrl" ng-init="getParents();getOwners();getBreeds();getDisplayPlaces();">
			<h4>Добавление нового котенка</h4>
	    <hr/>
        <kitten-fields-component is-valid="isValidFields" kitten="kitten" breeds="breeds" owners="owners" parents="parents" display-places="displayPlaces">
        </kitten-fields-component>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<input type="submit" value="Создать" ng-click="addNewKitten(kitten)" class="btn btn-default"/>
			</div>
		</div>
		<div ng-class="{'alert alert-danger' : errorMessage, 'alert alert-success': successMessage}" role="alert">
			<span ng-show="errorMessage || successMessage" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			{{errorMessage}}{{successMessage}}
		</div>
		</div>
</div>

<!--TODO: Add back link-->