
<div  class="admin-panel">
	<div class="hot-container">
		<p>
			<a href="#" class="btn-admin btn-blue">Общие настройки сайта</a>
			<a href="/admin/available-kittens" class="btn-admin btn-blue">Изменение/Добавление доступных котят</a>
			<a href="/admin/archive-kittens" class="btn-admin btn-blue">Изменение/Добавление архивных котят</a>
			<a href="/admin/parents" class="btn-admin btn-blue">Изменение/Добавление родителей</a>
			<a href="#" class="btn-admin btn-blue">Изменение/Добавление статей</a>
			<a href="/" class="btn-admin btn-blue"> >> Вернуться на сайт <<</a>
		</p>
	</div>
</div>