<h2 ng-init="">Фотографии котенка</h2>
<hr />

<div class="admin-panel" ng-controller="kittensCtrl">
    <div style="margin-top: -20px;">
        <!--TODO: Create back reference-->
        <!--@Html.ActionLink("Вернуться", backTo, "Admin", null, new { @class = "btn-admin btn-red" })-->
    </div>    
        
    <!-- JQuery UI references -->
    <script src="Scripts/thirdparty/jqueryUI/jquery-ui.min.js"></script>
    <link href="Scripts/thirdparty/jqueryUI/jquery-ui.min.css" rel="stylesheet" />

    <script>
        $( function() {
        $( "change-pictures-component" ).sortable();
        $( "change-pictures-component" ).disableSelection();
        });
    </script>
    <change-pictures-component pictures="kitten.pictures">

    </change-pictures-component>
    <div>
        <!--TODO: Create back reference-->
        <!--@Html.ActionLink("Вернуться", backTo, "Admin", null, new { @class = "btn-admin btn-red" })-->
    </div>
</div>
