<h2 ng-init="">Фотографии котенка</h2>
<hr />

<div class="admin-panel" ng-controller="kittensCtrl">
    <div style="margin-top: -20px;">
        <!--TODO: Create back reference-->
        <!--@Html.ActionLink("Вернуться", backTo, "Admin", null, new { @class = "btn-admin btn-red" })-->
    </div>
    <change-pictures-component pictures="kitten.pictures">

    </change-pictures-component>
    <div>
        <!--TODO: Create back reference-->
        <!--@Html.ActionLink("Вернуться", backTo, "Admin", null, new { @class = "btn-admin btn-red" })-->
    </div>
</div>
