@using System.Web.Optimization

@{
	ViewBag.Title = "Item";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}





@RenderBody();

<hr>
<!-- Footer -->
<footer>
	<div class="row">
		<div class="col-lg-12">
			<p>Copyright &copy; Your Website 2014</p>
		</div>
	</div>
	<!-- /.row -->
</footer>
