@model PrettyCats.Database.Pages

@{
	ViewBag.Title = "ThemePage";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
	ViewBag.Title = "Как выбрать котенка | Какого котенка выбрать";
	ViewBag.Keywords = "Выбор котенка, выбирать котенка, по породе, какого возраста, правильный выбор, не знаю как выбрать";
}

<div class="row">
	<div class="col-xs-1 col-md-2 col-sm-1 col-lg-3"></div>

	<div class="col-xs-10 col-md-8 col-sm-10 col-lg-6">
		<div class="page">
			<div class ="page-name">@Model.Name</div>
				<div class="horizLine"></div>
					@*@Model.Content*@

			<h3 class="text-center">Как выбрать котенка?</h3>
			<p class ="page-text">
				&nbsp;&nbsp;В данной статье мы поможем вам разобраться, <b>как выбрать котенка</b>. Расскажем вам о характерах пород, о возрасте в каком следует покупать животное и многом другом. Прочитав статью, вы сможете без труда выбрать себе домашнего питомца.
				<br/>
				&nbsp;&nbsp;Прежде всего нужно отметить, по каким <b>критериям</b> происходит выбор домашнего животного. Их несколько:
			</p>
			<p class="page-text">
				&nbsp;&nbsp;&nbsp;&nbsp;1.	<a href="#kitten-breed">Порода котенка.</a><br />
				&nbsp;&nbsp;&nbsp;&nbsp;2.	<a href="#kitten-age">Возраст котенка. </a><br />
				&nbsp;&nbsp;&nbsp;&nbsp;3.	<a href="#girl-or-boy">Мальчик или девочка.</a><br />
				&nbsp;&nbsp;&nbsp;&nbsp;4.	<a href="#how-to-choose">Питомник, рынок или с рук.</a><br />
				&nbsp;&nbsp;&nbsp;&nbsp;5.	<a href="#how-to-look">Как должен выглядеть котенок.</a><br />
			</p>
			<a class="link-anchor" name="kitten-age"></a>
			<h3 class="text-center">Порода котенка</h3>
			<p class="page-text">
				&nbsp;&nbsp;При <b>выборе породы котенка</b>, прежде всего, нужно определиться, с каким характером вы хотели бы себе домашнего любимца. Если вам нужна кошка, с которой весело поиграть, которая будет любопытна ко всему происходящему в доме, с которой можно подраться, поругаться и помириться, то <b>сиамская кошка</b> – это то, что вы ищите. Но с такой породой нужно быть аккуратнее – им без разницы кого царапать – вас или <b>ребенка</b>.
				Если же вас не устраивает животное с таким характером, то можно обратить внимание на такие породы, как <b>русская голубая</b>, либо <b>шотландская</b>. Эти кошки более снисходительны к неаккуратным действиям со стороны ребенка, они способны терпеть даже долгие мучения. Они в меру игривы, не слишком шумные, не любят навязываться, но любят присутствие человека, встречая вечером домой и прося поглажки.
				Многие люди, <b>выбирая котенка</b>, хотят видеть в нем настоящего друга и товарища, который будет <b>верный и любящий</b>, который будет провожать из дома и встречать у порога, который будет ходить по квартире как хвост. Для таких людей мы бы посоветовали породу <b>Мейн-кун</b>. Эти кошки очень дружелюбны. Несмотря на свой грозный вид, они очень добрые и спокойные. Иногда их сравнивают с собаками, так как они достаточно умны, за ними всегда интересно наблюдать.
				Хотели бы вы себе домой леопарда? Для исполнения вашего желания и была выведена <b>порода бенгальской кошки</b>. Эти животные безумно красивы, они станут не просто
				 друзьями, но и украшением вашего дома.
				Хочется отметить, что это лишь общее описание характеров разных пород. На самом деле у каждого котенка свой индивидуальный характер, который во многом будет зависеть от вашего воспитания.
			</p>
			<a class="link-anchor" name=" kitten-age"></a>
			<h3 class="text-center">Возраст котенка </h3>
			<p class="page-text">&nbsp;&nbsp;Многие люди <b>при выборе котенка</b> недооценивают важность данного критерия. Не стоит брать котенка в один – полтора месяца – в этот период котята только-только начинают самостоятельно питаться и у них налаживается пищеварение. Кроме того, в данном возрасте у котят еще достаточно слабый иммунитет. Если же вы боитесь упустить красивого котенка, который зацепил ваше сердце, то лучше оставить задаток и забрать домашнего любимца в возрасте двух месяцев, как делают многие люди. Не пугайтесь брать котенка в 4, 5 и даже семь месяцев. Ведь на протяжении своего роста (до одного года), котята меняются. И если вы взяли вислоухого котенка в 2 месяца с идеально лежащими ушами, то это не факт, что он не станет у вас прямоухим к 7ми месяцам (это если брать у сомнительных горе разводчиков). Поэтому многие люди, которые хотят быть уверены в красоте животного, его здоровье, предпочитают брать котят постарше.</p>
			<a class="link-anchor" name="girl-or-boy"></a>
			<h3 class="text-center">Девочка или мальчик</h3> 
			<p class="page-text">&nbsp;&nbsp;Существенной разницы в поведении, сказать по правде, и нет. Конечно, мальчики немного поласковее, они более привязаны к человеку, но в целом все зависит от воспитания. Часто говорят, что только мальчики придут ласкаться к вам на кровать утром, что только мальчики будут спать с вами ночью, но это нет так. На собственном опыте можем сказать, что все наши девочки прекрасно с нами спять и мурлычат и просят глажки. Еще важным моментом, который необходимо учитывать при выборе пола является то, что около года кот скорее всего начнет метить и вам необходимо будет его кастрировать. Девочка, конечно, тоже начинает хотеть кота, но это не приносит столько проблем. Кроме всего прочего нужно иметь в виду, что коты сами по себе крупнее, чем кошечки.</p>
			<a class="link-anchor" name="how-to-choose"></a>
			<h3 class="text-center">Питомник, рынок или с рук</h3>
			<p class="page-text">&nbsp;&nbsp;Начнем с рынка. Это категорическое нет. Брать котенка на рынке опасно. Вы только представьте, сколько там животных, сколько там может быть болезней. Никто не даст вам гарантии, что вы купите здоровое животное. На данный момент выбора в интернете вполне достаточно, что позволяет вовсе не ходить на рынок. Перед тем как покупать котенка с рук необходимо внимательно прочитать объявление, убедиться в наличии документов на котят, убедиться в породности родителей, обязательно прийти домой и посмотреть в каких условиях живут котята. Честно говоря, брать у обычных людей тоже довольно опасно – можно попасть на нехороших людей, которые экономят на своих котятах, экономят на вязках, не выбирая хорошего кота. В итоге вырастают котята с плохими породными данными. Если вы хотите быть уверены в своем животном, лучше всего выбирать котенка в питомнике. В питомнике вам предоставят все необходимые документы, в питомниках следят за породными данными, вкладывают деньги в своих животных, заботясь как о хорошем питании, так и о здоровье. Конечно, питомники тоже бывают разные. Нужно всегда с осторожностью выбирать домашнего любимца. Ведь этот любимый комочек будет жить с вами еще долгие годы.</p>
			<a class="link-anchor" name="how-to-look"></a>
			<h3 class="text-center">Как должен выглядеть котенок</h3>
			<p class="page-text">&nbsp;&nbsp;Отвечая на вопрос, <b>как выбрать котенка</b>, многие люди рассказывают про то, как выбрать породу, где нужно покупать котенка и так далее, но не многие пишут о том, как же при покупке по внешнему виду понять, здоровый ли котенок или нет, стоит ли он своих денег или нет. Котенок не должен быть худым, чем он круглее, тем лучше, значит у него хороший аппетит. Он не должен быть вялым. Такое допустимо, если он только что проснулся. При выборе необходимо обращать внимание на шерсть, насколько она набивная. Также необходимо осмотреть ушки, нет ли ушного клеща (как выглядит клещ можно посмотреть в интернете). Очень важно обратить внимание на попу котенка – она не должна быть красной. Если это так, то скорее всего котенок поносит и у него не все хорошо с пищеварением. Лучше отказаться от такого котенка. На глазках не должно быть гнойных выделений.</p>
			<p class="page-text">&nbsp;&nbsp;В данном статье мы вкратце рассказали вам, как нужно <b>выбирать котенка</b>, на что необходимо обращать внимание, что является важным и не очень. Хочется дать читателям один совет: подойдите к выбору домашнего любимца серьёзно, потратьте побольше времени, почитайте, обязательно съездите посмотрите несколько котят, посоветуйтесь с разными людьми. Лучше потратить совсем немного времени, купить себе действительно хорошее животное и радоваться, и любоваться долгие годы!</p>
			<a style="color:black;" href="@Url.Action("AllAvailableKittens","KittenPages")"><h3 class="text-center"> >>> Перейти к выбору &lt;&lt;&lt;</h3></a>
		</div>
	</div>

	<div class="col-xs-1 col-md-2 col-sm-1 col-lg-3"></div>
</div>