
<div  class="admin-panel">
	<div class="hot-container">
		<p>
			<a href="#" class="btn-admin btn-blue">Общие настройки сайта</a>
			<a href="{{adminPanelCtrl.availableKittensLink}}" class="btn-admin btn-blue">Изменение/Добавление доступных котят</a>
			<a href="{{adminPanelCtrl.archiveKittensLink}}" class="btn-admin btn-blue">Изменение/Добавление архивных котят</a>
			<a href="{{adminPanelCtrl.parentsLink}}" class="btn-admin btn-blue">Изменение/Добавление родителей</a>
			<a href="#" class="btn-admin btn-blue">Изменение/Добавление статей</a>
			<a href="{{adminPanelCtrl.siteIndex}}" class="btn-admin btn-blue"> >> Вернуться на сайт <<</a>
		</p>
	</div>
</div>