
@{
	ViewBag.Title = "ThemePage";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<div class="row">
	<div class="col-xs-1 col-md-2 col-sm-1 col-lg-3"></div>

	<div class="col-xs-10 col-md-8 col-sm-10 col-lg-6">
		<div class="page">
			<div class ="page-name">Контакты</div>
				<div class="horizLine"></div>
				<p class="page-text">
					К сожалению, в наше время воспользоваться этим методом будет проблематично, ведь котят, как правило, приобретают в питомниках в таком возрасте, когда они уже сами вовсю бегают по квартире. Таких сорванцов кошка уже не станет таскать в зубах! Как же не ошибиться и правильно выбрать здорового котенка, без риска утратить его в ближайшем месяце? В данной статье будет рассмотрена именно покупка котенка, так как «дареному коню», как известно, «в зубы не смотрят», и от малыша, найденного на улице, вряд ли кто-то станет требовать идеального здоровья. Однако приведенными ниже советами можно воспользоваться, решая, какого котенка из помета своей кошки оставить себе. Существует ряд несложных, но очень важных правил, которыми следует руководствоваться для выбора здорового котенка: Огромное значение имеет вопрос, где вы собираетесь купить котенка. Вариантов несколько – можно пойти в зоомагазин, обратиться в питомник или отыскать объявление в интернете и купить котенка с рук. Самый рискованный из них – покупка с рук. В таких случаях сделка заключается устно, и никакой ответственности продавец не несет. Вам могут подсунуть животное, находящееся при смерти, или же обычного дворового «мурзика» выдать за породистую кошку. В беспородном малыше нет ничего плохого, но покупать его по той же стоимости, что и дорогое животное с родословной – значит, помогать мошенникам. Зоомагазин надежнее, но не намного. Вероятно, купленный котенок будет породистым. Но будет ли он здоровым? Совершенно необязательно! Риск меньше, чем в предыдущем случае, но всё-таки он есть. Если уж идти в зоомагазин, то выбирать тот, который дорожит своей репутацией. Идеальным решением будет приобретение котенка в специальном питомнике. За здоровьем животных там, как правило, следят внимательно, а кошек с наследственными болезнями не допускают в разведение. Выбрав надежный питомник, будущий владелец кота избавляет себя от ненужного риска. Возраст котенка должен быть не меньше 12 недель, то есть около 3 месяцев. В этом возрасте отпадает необходимость в материнском молоке, которое дает котятам иммунитет. Если котенок и подхватит инфекцию, это станет заметно именно в данный период. Кроме того, к трем месяцам котята должны быть уже привиты от самых опасных вирусных заболеваний, таких как панлейкопения или ринотрахеит. Сделанные прививки должны быть отмечены в ветпаспорте животного. Подробнее об этом читайте в статье Какие прививки делать котятам Движения котенка должны быть уверенными и легкими, трехмесячный котенок активен и любознателен, не боится людей и не чурается прикосновений. Если малыш жмется в угол или пищит, когда его трогают – возможно, он болен. Следует обратить внимание и на внешний вид. Малыш не должен быть ни слишком толстым, ни слишком худым. Шерсть здорового котенка блестит и выглядит шелковистой. Шерсть колтунами, потрепанный, взъерошенный вид – дурные признаки. Ушки и глазки котенка – очень важный показатель его здоровья. Если они чистые, и нет никаких выделений, то и поводов для тревоги не должно быть. Конечно, человек, продающий котенка, мог почистить его перед приходом покупателей, но слезящиеся глаза, возможный признак инфекции, будут заметны даже в таком случае. Обязательно нужно заглянуть малышу под хвостик, там тоже все должно быть чисто и сухо. Один из лучших показателей здоровья любого животного – аппетит. Понаблюдайте, как ваш избранник кушает, активно ли он отпихивает собратьев, много ли съедает. Если чересчур много – возможно, следует провести дегельминтизацию, то есть вывести паразитов. Если слишком мало – увы, вероятнее всего, котенок болен. Игривого, сияющего здоровьем котенка заметно сразу, хотя более внимательный осмотр никогда не повредит. Главное, обеспечить ему в дальнейшем такой уход, при котором он останется таким же здоровым и активным, радуя хозяев своей безудержной энергичностью.

				</p>

		</div>
	</div>

	<div class="col-xs-1 col-md-2 col-sm-1 col-lg-3"></div>
</div>