
@{
	ViewBag.Title = "ContactsPage";
	Layout = "~/Views/Home/_MainLayout.cshtml";
}

@*<link href='https://fonts.googleapis.com/css?family=Oswald:300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>*@

<div class="row">
	<div class="col-xs-3 col-md-3"></div>

	<div class="col-xs-6 col-md-6">
		<div class="page page-contacts">
			@*<div class ="page-name">Контакты</div>
			<div class="horizLine"></div>
			<p class="page-text">
				Мы расположены в городе Рязань. Для связи с нами вы можете воспользоваться одним из указанных ниже способов:

			</p>*@

		</div>
	</div>

	<div class="col-xs-6 col-md-6"></div>
</div>
