
@{
	ViewBag.Title = "Контакты";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

@*<link href='https://fonts.googleapis.com/css?family=Oswald:300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>*@

<div class="row">
	<div class="col-xs-3 col-md-3"></div>

	<div class="col-xs-6 col-md-6">
		<div class="page page-contacts">
			@*<div class ="page-name">Контакты</div>
	<div class="horizLine"></div>*@
			<br/>
			<br />
			<br />
			<p class="page-text">
				г. Рязань, индекс 390000. Мы производим
				<br/>
				доставку и в другие регионы.
			</p>
			<p class="page-text">
				Наши контакты:
				<br/>
				&nbsp;&nbsp;Юлия
				<br />
				&nbsp;&nbsp;&nbsp;8-903-640-57-96
				<br />
				&nbsp;&nbsp;&nbsp;8-965-712-20-49
				<br />
				&nbsp;&nbsp;Анна
				<br />
				&nbsp;&nbsp;&nbsp;8-952-121-47-50
				<br />
				&nbsp;&nbsp;Почта - ArtDuviksCats@yandex.ru

			</p>
		</div>
	</div>

	<div class="col-xs-6 col-md-6"></div>
</div>
