
@{
	ViewBag.Title = "Error";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<h2>Произошла непредвиденная ошибка!!! Вы можете вернуться на главную страницу сайта.</h2>

<a class="back-link" href="/Home/Index">
	<div class="image"></div>
</a>

