
@{
	ViewBag.Title = "Питомник Art Duviks Cat - купить котенка в Рязани пород Мейн Кун, Бенгальской, Британской и Шотландской пород";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
	ViewBag.Description = "В питомнике Art Duviks Cat вы можете купить котят Мейн-кун, шотландцев и бенгалов.";
	ViewBag.Keywords = "Купить котенка в Рязани, купить Мейн кун Рязань, купить шотландского котенка, купить бенгальского котенка";
}

<!-- Page Content -->
<div class="container">
	<hr>
	<div class="row">
		<div class="col-sm-8">
			<h2>О нас</h2>
			<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Мы рады приветствовать Вас на сайте питомника <b>Art Duviks Cat</b>. На нашем сайте вы сможете найти себе домашнего любимца, который будет долгие годы радовать Вас. Мы уже <b>более 20-ти лет</b> занимаемся разведением кошек элитных пород, таких как <b>Мейн-кун</b>, <b>Бенгальская</b>, <b>Шотландская</b>. На протяжении долгих лет мы стремились к улучшению породных данных, поэтому <b>можем гарантировать</b> Вам не просто красоту наших котят, но и крепкое здоровье.</p>
			<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Хочется отметить, что питомник наш небольшой. Благодаря этому мы можем позволить себе содержать котят в <b>теплой домашней обстановке</b>, давая им ласку и внимание. Привыкая к заботе и каждодневному общению с человеком, котята вырастают добрыми, ласковыми, умными и послушными. В ходе воспитания котятки приучаются к лотку и когтеточке. Приобретая домашнего любимца у нас, Вы <b>можете быть уверены</b> в том, что животное вырастет красивым, здоровым и крепким. <br /> </p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;Мы всегда открыты для Вас и готовы помочь с выбором! <br/> <br /> <span style="text-align: right;font-style:italic;">С Уважением фелинолог питомника ART Duviks Cat Юлия и заводчик Анна.</span></p>
		</div>
		<div class="col-sm-4">
			<h2>Наши контакты</h2>
			<address>
				<strong>г.Рязань (+ Доставка в др. регионы)</strong>
				<br><b>8-903-640-57-96</b> Юлия
				<br><b>8-965-712-20-49</b> Юлия
				<br><b>8-952-121-47-50</b> Анна
			</address>
			<address>
				<abbr title="Email">Email:</abbr> <a href="mailto:#">ArtDuviksCat@yandex.ru</a>
			</address>
		</div>
	</div>
	<!-- /.row -->
	<hr>

	<div class="col-sm-4">
		<h2 class="text-center">Шотландцы</h2>
		<a href="/kittenpages/BritishKittens">
			<img class="img-circle img-responsive img-center" src="/Resources/Breeds/Scotland.jpg" alt="Шотландские котята">
		</a>
	</div>
	
	<div class="col-sm-4">
		<h2 class="text-center">Мейн-куны</h2>
		<a href="/kittenpages/MainKunKittens">
			<img class="img-circle img-responsive img-center" src="/Resources/Breeds/Mainkun.jpg" alt="Котята Мейн кун">
		</a>
	</div>
	
	<div class="col-sm-4">
		<h2 class="text-center">Бенгалы</h2>
		<a href="/kittenpages/BengalKittens">
			<img class="img-circle img-responsive img-center" src="/Resources/Breeds/bengal.jpg" alt="Бенгальские котята">
		</a>
	</div>
	
</div>
<!-- /.container -->

