@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@model List<PrettyCats.Database.Pets>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<!-- Page Content -->
<div class="container">
	<hr>
	<div class="row">
		<div class="col-sm-8">
			<h2>What We Do</h2>
			<p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
			<p>
				<a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
			</p>
		</div>
		<div class="col-sm-4">
			<h2>Contact Us</h2>
			<address>
				<strong>Start Bootstrap</strong>
				<br>3481 Melrose Place
				<br>Beverly Hills, CA 90210
				<br>
			</address>
			<address>
				<abbr title="Phone">P:</abbr>(123) 456-7890
				<br>
				<abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
			</address>
		</div>
	</div>
	<!-- /.row -->
	<hr>
	
	@{
		if (Model != null)
		{
			int countAll = Model.Count;
			int rowCounter = (countAll + 2)/3;
			int curr = 0;


			for (int i = 1; i <= rowCounter; i++)
			{
				<div class="row">
					@for (int j = 1; j <= 3; j++)
					{
						++curr;
						
						if (curr <= countAll)
						{
							@Html.Partial("~/Views/KittenPages/KittenOnTheMainPageHtml.cshtml", Model[curr - 1])
						}
					}
				</div>
			}
		}
	}
</div>
<!-- /.container -->

