@using System.Web.Optimization

@{
	ViewBag.Title = "Item";
	Layout = "~/Views/Home/_MainLayout.cshtml";
}
<script type="text/javascript" src="../../Scripts/jssor.slider.mini.js"></script>
<script type="text/javascript" src="../../Scripts/jssor.slider.min.js"></script>

<script>
	jQuery(document).ready(function ($) {

		var jssor_1_SlideshowTransitions = [
			{ $Duration: 1200, x: 0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: -0.3, $SlideOut: true, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: 0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: -0.3, $SlideOut: true, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: -0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: 0.3, $SlideOut: true, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: 0.3, $Cols: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Column: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: 0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: 0.3, $Rows: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Row: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: 0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: 0.3, $Cols: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, y: -0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: 0.3, $Rows: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: -0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $SlideOut: true, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, $Delay: 20, $Clip: 3, $Assembly: 260, $Easing: { $Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, $Delay: 20, $Clip: 3, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, $Delay: 20, $Clip: 12, $Assembly: 260, $Easing: { $Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
			{ $Duration: 1200, $Delay: 20, $Clip: 12, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 }
		];

		var jssor_1_options = {
			$AutoPlay: false,
			$SlideshowOptions: {
				$Class: $JssorSlideshowRunner$,
				$Transitions: jssor_1_SlideshowTransitions,
				$TransitionsOrder: 1
			},
			$ArrowNavigatorOptions: {
				$Class: $JssorArrowNavigator$
			},
			$ThumbnailNavigatorOptions: {
				$Class: $JssorThumbnailNavigator$,
				$Cols: 8,
				$SpacingX: 8,
				$SpacingY: 8,
				$Align: 360
			}
		};

		var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

		//responsive code begin
		//you can remove responsive code if you don't want the slider scales while window resizes
		function ScaleSlider() {
			var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
			if (refSize) {
				refSize = Math.min(refSize, 800);
				jssor_1_slider.$ScaleWidth(refSize);
			}
			else {
				window.setTimeout(ScaleSlider, 30);
			}
		}
		ScaleSlider();
		$(window).bind("load", ScaleSlider);
		$(window).bind("resize", ScaleSlider);
		$(window).bind("orientationchange", ScaleSlider);
		//responsive code end
	});
</script>


<h2 style="text-align: center;">Подробная информация о котенке</h2>

<div class="row">
	<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 500px; overflow: hidden; visibility: hidden; background-color: #24262e;">
		<!-- Loading Screen -->
		<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
			<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
			<div style="position:absolute;display:block;background:url('../../Resources/Slides/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
		</div>
		<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 400px; overflow: hidden;">
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/01.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-01.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/02.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-02.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/03.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-03.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/04.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-04.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/05.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-05.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/06.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-06.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/07.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-07.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/08.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-08.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/09.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-09.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/10.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-10.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/11.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-11.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="~/Resources/Slides/12.jpg" />
				<img data-u="thumb" src="~/Resources/Slides/thumb-12.jpg" />
			</div>
		</div>
		<!-- Thumbnail Navigator -->
		<div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:600px;height:100px;" data-autocenter="1">
			<!-- Thumbnail Item Skin Begin -->
			<div data-u="slides" style="cursor: default;">
				<div data-u="prototype" class="p">
					<div class="w">
						<div data-u="thumbnailtemplate" class="t"></div>
					</div>
					<div class="c"></div>
				</div>
			</div>
			<!-- Thumbnail Item Skin End -->
		</div>
		<!-- Arrow Navigator -->
		<span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
		<span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
		<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
	</div>

	@*<div class="col-xs-3 col-md-3"></div>

	<div class="col-xs-6 col-md-6">
		<img class="item-image" src="~/Resources/Slides/slide1.jpg" />
	</div>
	<div class="col-xs-6 col-md-6"></div>*@
</div>

<div class="row">
	<div class="col-xs-3 col-md-3"></div>

	<div class="col-xs-6 col-md-6">
		<table>
			<tr><td>Порода:</td><td>Мейн кун</td></tr>
			<tr><td>Окрас:</td><td>Черный мрамор</td></tr>
			<tr><td>Имя:</td><td>Барбариска</td></tr>
			<tr><td>Мама:</td><td>Кошка</td></tr>
			<tr><td>Папа:</td><td>Кот</td></tr>
			<tr><td>Описание:</td></tr>
			<tr><td colspan="2">Тут написано какой котенок хороший и почему его нужно купить.</td></tr>
		</table>
	</div>
	<div class="col-xs-6 col-md-6"></div>
</div>

@*<div class="row">
	<div class="col-xs-3 col-md-3"></div>
	<div class="col-xs-6 col-md-6">
		<button type="button" onclick="ShowAllImages()" class="btn btn-warning btn-more-fotos">Больше фото</button>
	</div>
	<div class="col-xs-6 col-md-6"></div>
</div>

	<div class="row image-hid">
	<div class="col-xs-3 col-md-3"></div>

	<div class="col-xs-6 col-md-6">
		<img class="item-image" src="~/Resources/Slides/slide2.jpg" />
	</div>

	<div class="col-xs-3 col-md-3"></div>
</div>

<div class="row image-hid">
	<div class="col-xs-3 col-md-3"></div>

	<div class="col-xs-6 col-md-6">
		<img class="item-image" src="~/Resources/Slides/slide3.jpg" />
	</div>
	<div class="col-xs-3 col-md-3"></div>
</div>*@

<hr>
<!-- Footer -->
<footer>
	<div class="row">
		<div class="col-lg-12">
			<p>Copyright &copy; Your Website 2014</p>
		</div>
	</div>
	<!-- /.row -->
</footer>
