
@{
	ViewBag.Title = "KittenMainPage";
	Layout = "~/Views/Home/_MainLayout.cshtml";	
}

	<script src="~/Scripts/DielogForm.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/DialogForm.css">	
<script>
	
	function ChooseKitten()
	{
		var elements = $("div[data-u='slides']")[1].children;
		
		for (var i = 1; i < elements.length-1; i++) {

			if ($(elements[i]).css('left') == '0px') {
				var imgSrc = $(elements[i]).find("img").prop('src');
				var text = "Вы выбрали этого котенка. Позвоните нам и сообщите его имя, а также стоимость.";
				var $message = "<div class='dialog-message'><img src='" + imgSrc + "'/><p class='message-text'>" + text + "</p>";

				$message += "</div>";

				BootstrapDialog.show({
					title: "Ваш выбор",
					message: $message,
					buttons: [
						{
							label: 'Вернуться',
							cssClass: 'btn-primary',
							action: function(dialogItself) {
								dialogItself.close();
							}
						}
					]
				});
			}
		}
	}
</script>

<h2 style="text-align: center;">Подробная информация о котенке</h2>

@Html.Partial("~/Views/Home/_CatSlider.cshtml")

<div class="row">
	<div class="col-xs-3 col-md-3"></div>

	<div class="col-xs-6 col-md-6">
		<div class="Description">
			<table>
				<tr><td><b>Порода:</b></td><td>Мейн кун</td></tr>
				<tr><td><b>Окрас:</b></td><td>Черный мрамор</td></tr>
				<tr><td><b>Имя:</b></td><td>Барбариска</td></tr>
				<tr><td><b>Мама(@Html.ActionLink("фото", "ParentCatMainPage", "Home")):</b></td><td>Кошка</td></tr>
				<tr><td><b>Папа(@Html.ActionLink("фото", "ParentCatMainPage", "Home")):</b></td><td>Кот</td></tr>
				<tr><td><b>Описание:</b></td></tr>
				<tr><td colspan="2">Тут написано какой котенок хороший и почему его нужно купить.</td></tr>
			</table>
		</div>
	</div>
	
	<div class="col-xs-6 col-md-6"></div>
</div>
