#brand-image {
    width: 150px;
}

.main-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 30px;
}

.responsive-wrapper {
    margin-right: 10px;
    margin-left: 10px;
	float:left;
}
.responsive-wrapper button{
	width:80px;
}

div.offerSlots{
	margin-bottom:2px;
}

