<h2 ng-init="">Фотографии котенка</h2>
<hr />

<div class="admin-panel">
	<div style="margin-top: -20px;">
	</div>

	<!-- JQuery UI references -->
	<!-- To find the way how to replace usage of Jquery UI here!-->
	<link href="/Scripts/thirdparty/jqueryUI/jquery-ui.min.css" rel="stylesheet" />
	<script src="/Scripts/thirdparty/jqueryUI/jquery-ui.min.js"></script>
	<script>
// TODO: use directive to prevent work with DOM here
        $( function() {

        });
	</script>
	<change-pictures-component pictures="selectedKitten.pictures" return-back-url="returnBackUrl">

	</change-pictures-component>
</div>
