    
<div class="form-horizontal">
    <h4>Редактирование котенка</h4>
    <hr/>
    <kitten-fields-component is-valid="$ctrl.isValidFields" kitten="$ctrl.kitten" breeds="$ctrl.breeds" owners="$ctrl.owners" parents="$ctrl.parents" display-places="$ctrl.displayPlaces">
    </kitten-fields-component>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" value="Назад" ng-click="$ctrl.returnBack($ctrl.kitten)" class="btn btn-default" />
            <input ng-if="!$ctrl.kitten.isNew" type="submit" value="Сохранить" ng-click="$ctrl.saveEditedKitten($ctrl.kitten)" class="btn btn-default"/>
            <input ng-if="$ctrl.kitten.isNew" type="submit" value="Создать" ng-click="$ctrl.addNewKitten($ctrl.kitten)" class="btn btn-default"/>
        </div>
    </div>
    <message-place-component success-message="$ctrl.successMessage" error-message="$ctrl.errorMessage"></message-place-component>
</div>