@{
	ViewBag.Title = "Наши котята";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<h2 style="text-align: center; color:white;"> Выберите категорию</h2>

<hr>
<div class="images-center-container">
	@Html.Partial("~/Views/CommonPartialViews/_Categories.cshtml")
</div>
