@model List<PrettyCats.Database.Pets>
@{
	ViewBag.Title = "Наши котята";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<h2 style="text-align: center; color:white;"> Выберите категорию</h2>

<hr>
<div class="images-center-container">
	<div class="row">

		<div class="col-sm-4">
			<h2 class="text-center">Шотландцы/Британцы</h2>
			<a href="/kittenpages/BritishKittens">
				<img class="img-circle img-responsive img-center" src="/Resources/Breeds/Scotland.jpg" alt="">
			</a>
		</div>

		<div class="col-sm-4">
			<h2 class="text-center">Мейн-куны</h2>
			<a href="/kittenpages/MainKunKittens">
				<img class="img-circle img-responsive img-center" src="/Resources/Breeds/Mainkun.jpg" alt="">
			</a>
		</div>

		<div class="col-sm-4">
			<h2 class="text-center">Бенгалы</h2>
			<a href="/kittenpages/BengalKittens">
				<img class="img-circle img-responsive img-center" src="/Resources/Breeds/bengal2.jpg" alt="">
			</a>
		</div>
	</div>
</div>
