@model List<PrettyCats.Database.Pets>
@{
	ViewBag.Title = "AllAvailableKittens";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<h2 style="text-align: center; color:white;"> Все доступные на данный момент котята</h2>


<hr>
<div class="images-center-container">
	@{
		if (Model != null)
		{
			int countAll = Model.Count;
			int rowCounter = (countAll + 2) / 3;


			for (int i = 1; i <= rowCounter; i++)
			{
				<div class="row">
					@for (int j = i; j < i + 3; j++)
					{
						if (j <= countAll)
						{
							@Html.Partial("GetKittenHtml", Model[j - 1])
						}
					}
				</div>
			}
		}
	}
</div>

