@{
	ViewBag.Title = "Архив | Выбор категории";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<h2 style="text-align: center; color:white;"> Выберите категорию архива</h2>

<hr>
<div class="images-center-container">
	<div class="row">

		<div class="col-sm-4">
			<h2 class="text-center">Шотландцы</h2>
			<a href="/scotland-kittens-archive">
				<img class="img-circle img-responsive img-center" src="/Resources/Breeds/Scotland.jpg" alt="">
			</a>
		</div>

		<div class="col-sm-4">
			<h2 class="text-center">Мейн-куны</h2>
			<a href="/mainkun-kittens-archive">
				<img class="img-circle img-responsive img-center" src="/Resources/Breeds/Mainkun.jpg" alt="">
			</a>
		</div>

		<div class="col-sm-4">
			<h2 class="text-center">Бенгалы</h2>
			<a href="/bengal-kittens-archive">
				<img class="img-circle img-responsive img-center" src="/Resources/Breeds/bengal.jpg" alt="">
			</a>
		</div>
	</div>
</div>
