@model List<PrettyCats.Database.Pets>

@{
	ViewBag.Title = "Котята бенгальской породы";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
}
<div class="container">
	@{
		if (Model != null)
		{
			int countAll = Model.Count();
			int rowCounter = (countAll + 2) / 3;
			int curr = 0;


			for (int i = 1; i <= rowCounter; i++)
			{
				<div class="row">
					@for (int j = 1; j <= 3; j++)
					{
						++curr;

						if (curr <= countAll)
						{
							@Html.Partial("~/Views/KittenPages/KittenOnTheMainPageHtml.cshtml", Model[curr - 1])
						}
					}
				</div>
			}
		}
	}
</div>