@using PrettyCats.DAL
@model Pets

@{
	Pictures pict = null;
	string path = String.Empty;

	if (Model.PictureID != null)
	{
		pict = DbStorage.Pictures.Find(i=>i.ID == Model.PictureID);
		path = Url.Content(pict.Image);
	}

}

<div class="col-sm-4">
	<a href="/kitten-page/@Model.ID">
		<img class="img-circle img-responsive img-center" src="@path" alt="">
	</a>
	<h2>@Model.RussianName</h2>
	<p>@Model.UnderThePictureText</p>
</div>
