@using PrettyCats.Database
@model PrettyCats.Database.Pets

@{
	var pict = DbStorage.Instance.Pictures.Find(Model.PictureID);
}

<div class="col-sm-4">
	<a href="/kittenpages/KittenMainPage/@Model.ID">
		<img class="img-circle img-responsive img-center" src="@Url.Content(pict.Image)" alt="">
	</a>
	<h2>@Model.RussianName</h2>
	<p>@Model.UnderThePictureText</p>
</div>
