<section class="uui-info-panel-horizontal blue">
    <div class="info-panel-body">
        <div class="info-panel-section">
            <h3 id="category-lagel" class="inline-elem">Category:</h3>
            <h3 id="text-label" class="inline-elem">Text:</h3>
            
            <br>
            <select id="category-picker" class="selectpicker uui-form-element lime-green" ng-model="search.CategoryId" convert-to-number>
                <option value="">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

            <input id="text-search" type="text" class="uui-form-element inline-elem" ng-model="search.Name" />
        </div>
    </div>
</section>