<div ng-controller="OfferDetailsCtrl">
	<a href="#/offers">Back to offers list</a>
	<h3>Offer: {{offer.SubjectName}}</h3>
	<h5>By: {{offer.Owner.LastName}} {{offer.Owner.FirstName}}</h5>
	<h6>Periods:</h6>
	<table class="uui-table stripe border">
		<tbody>
			<tr ng-repeat="slot in offer.TimeSlots">
				<td>
				<timeslot slot="slot"/>
				<div class="responsive-wrapper">
                    <button type="button" class="uui-button lime-green" ng-show="!slot.IsOccupied" ng-click="bookOffer(offer.Id, slot)">Book</button>
				</div>
                <div class="responsive-wrapper">
                    <button type="button" class="uui-button red" ng-show="slot.IsOccupied" ng-click="unBookOffer(slot)">UnBook</button>
                </div>
                <div style="clear: both;"></div>
			</tr>
		</tbody>
	</table>
	<p>Add free period</p>
	<timeslot slot="newSlot"></timeslot>
	<button type="button" class="uui-button blue" ng-click="createOffer()">Publish</button>

</div>
