<div ng-controller="SubjectDetailsCtrl">
	<a href="#/subjects">Back to subjects list</a>
	<h1>{{subject.Name}}</h1>
	<p>{{subject.Description}}</p>
	<h1>Offers:</h1>
	<table class="uui-table stripe border">
		<tbody>
			<tr ng-repeat="offer in offers| filter:search">
				<td><a href="#/offers/{{offer.Id}}/">{{offer.Id}}</a></td>
				<td>{{offer.Name}}</td>
				<td>{{offer.Description}}</td>
				<td>
					<table border="0">

						<tr ng-repeat="slot in offer.TimeSlots">
							<td>
							    <timeslot slot="slot"/>
                                <div class="responsive-wrapper">
                                    <button type="button" class="uui-button lime-green" ng-show="!slot.IsOccupied" ng-click="bookOffer(offer.Id, slot)">Book</button>
                                </div>
                                <div class="responsive-wrapper">
                                    <button type="button" class="uui-button red" ng-show="slot.IsOccupied" ng-click="unBookOffer(slot)">UnBook</button>
                                </div>
                                <div style="clear: both;"></div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<p>If you want to give somebody this subject in temporary use, click  </p>
	<timeslot slot="newSlot"></timeslot>
	<button type="button" class="uui-button blue" ng-click="createOffer()">Create offer</button>

